@{
    ViewData["Title"] = "Watchlist Page";
}

@* <div>
    <a href="https://finviz.com/quote.ashx?t=MSFT">
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=1&p=d&s=l" width="990px" height="400px" />
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=0&p=w" width="990px" height="400px" />
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=0&p=m" width="990px" height="400px" />
    </a>
</div> *@

<table>
    <tr>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @foreach (var symbol in Model.Symbols)
    {
        <tr>
            <td>
                <a href="https://finviz.com/quote.ashx?t=@symbol">
                    <img src="https://finviz.com/chart.ashx?t=@symbol&ty=c&ta=1&p=d&s=l" width="990px" height="400px" />
                </a>
            </td>
            <td>
                <a href="https://finviz.com/quote.ashx?t=@symbol">
                    <img src="https://finviz.com/chart.ashx?t=@symbol&ty=c&ta=0&p=w" width="990px" height="400px" />
                </a>
            </td>
        </tr>
    }
    
</table>