@{
    ViewData["Title"] = "Watchlist Page";
}

<div>
    <a href="https://finviz.com/quote.ashx?t=MSFT">
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=1&p=d&s=l" width="990px" height="400px" />
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=0&p=w" width="990px" height="400px" />
        <img src="https://finviz.com/chart.ashx?t=MSFT&ty=c&ta=0&p=m" width="990px" height="400px" />
    </a>
</div>